<header>
    {% load static %}
    <img src="{% static 'base/img/Apotheek-Logo.png' %}" alt="Logo">
    <div class="header-content">
        <h1>HR APOTHEEK</h1>
    </div>
    <div class="authors">
        <h2>Authors:<br>-- Bora --<br>-- Halit --</h2>
    </div>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                {% else %}
                    <li><a href="{% url 'user_dashboard' %}">User Dashboard</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
