<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/center.css' %}">
</head>
<body>
    {% include 'base/base.html' %}
    <main>
        <h2>Collection History</h2>
        <ul>
            {% for collection in collections %}
                <li>
                    {{ collection.medicine.name }} - {{ collection.date|date:"d-m-Y" }}
                    <a href="{% url 'medicine_detail' collection.medicine.id %}">View medicine info</a>
                    {% if not collection.collected %}
                        - status: waiting for user approval.
                        <a href="{% url 'collection_mark_collected' collection.id %}">Mark as Collected</a>
                    {% elif not collection.collected_approved %} 
                        - status: waiting for admin approval.
                    {% else %}
                        - status: collection approved.
                    {% endif %}
                </li>
            {% endfor %}
            {% if collections.count == 0 %}
                <p>No collections found.</p>
            {% endif %} 
        </ul>
    </main>
</body>
</html>
