<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/base/css/menu.css' %}">
<head>
</head>
<body>
    <header>
        <img src="{% static 'base/img/Apotheek-Logo.png' %}" alt="Logo">
        <h1> HR Apotheek </h1>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'medicine_list' %}">Medicine info</a></li>
            </ul>
        </nav>
    </header>
</body>
</head>
<body>
    <h1>Welcome to HR Apotheek</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <p><a href="{% url 'profile' %}">View Profile</a></p>
        <p><a href="{% url 'medicine_list' %}">View Medicines</a></p>
        <p><a href="{% url 'collection_list' %}">View Collections</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a></p>
    {% endif %}
</body>
</html>
