<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Detail</title>
    {% load static %}
    {% if user.is_staff %}
        <link rel="stylesheet" href="{% static 'base/css/urlpos.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'base/css/center.css' %}">
    {% endif %}
</head>
<body>
    {% include 'base/base.html' %}
    <main>
        <h2>Medicine info</h2>
        <p>Name: {{ medicine.name }}</p>
        <p>Manufacturer: {{ medicine.manufacturer }}</p>
        <p>Cures: {{ medicine.cures }}</p>
        <p>Side Effects: {{ medicine.side_effects }}</p>
        
        {% comment %} admin and base/user both use this html {% endcomment %}
        {% if user.is_staff %}
            <h2>Total Amount of prescriptions</h2>
            <p>Total prescriptions: {{ total_collections.count }}</p>
            {% comment %} <p>Total user aproved pickup: {{ total_collections.count }}</p> {% endcomment %}
            {% comment %} <p>Total admin aproved pickup: {{ total_collections.count }}</p> {% endcomment %}
            {% comment %} <h2>Craete new prescription of this item</h2> {% endcomment %}
            {% comment %} <a href="{% url 'admin_create_prescription_from_medicine' medicine.id %}">Create Pickup Action</a> {% endcomment %}
        {% else %}
            <h2>Amount of prescriptions</h2>
            <p>Prescriptions received of this item: {{ user_collections.count }}</p>
        {% endif %}
    </main>
</body>
</html>