body {
    background-color: rgb(255, 233, 237);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00CC66;
    color: #fff;
    padding: 20px; /* Increased padding to make the header thicker */
    display: flex;
    align-items: center;
    justify-content: center; /* Center all items in the header */
    position: relative;
}

.header-content {
    text-align: center;
    flex-grow: 1;
}

header img {
    height: 100px;
    width: auto;
    position: absolute;
    left: 20px; /* Position logo on the left */
}

header h1 {
    margin: 0;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 50px auto; /* Reverted to original margin */
    color: rgb(0, 0, 0);
    max-width: 800px;
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
}