<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collections</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
</head>
<body>
    {% include 'base/base.html' %}
    <main>
        <h2>All Collections</h2>
        <ul>
            {% for collection in collections %}
                <li>
                    {{ collection.medicine.name }} - 
                    <a href="{% url 'admin_view_user_profile' collection.user.id %}">{{ collection.user.username }}</a> - 
                    {{ collection.date|date:"d-m-Y" }}
                    {% if not collection.collected_approved %}
                        <a href="{% url 'admin_approve_collection' collection.id %}">Approve</a>
                    {% endif %}
                    <a href="{% url 'admin_delete_prescription' collection.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
