<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Medicines</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/urlpos.css' %}">
</head>
<body>
    {% include 'base/base.html' %}
    <main>
        <h2>Manage Medicines</h2>
        <ul>
            {% for medicine in medicines %}
                <li>
                    {{ medicine.name }} - {{ medicine.manufacturer }}
                    <form method="post" action="{% url 'medicine_detail' medicine.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">View details</button>
                    </form>
                    <a href="{% url 'admin_edit_medicine' medicine.id %}">Edit</a>
                    {% comment %} <form method="post" action="{% url 'admin_edit_medicine' medicine.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Edit details</button>
                    </form> {% endcomment %}
                    {% comment %} <a href="{% url 'admin_delete_medicine' medicine.id %}">Delete</a> {% endcomment %}
                    <form method="post" action="{% url 'admin_delete_medicine' medicine.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Delete medicine</button>
                    </form>
                    <br>
                </li>
            {% endfor %}
        </ul>
        <h3>Add New Medicine</h3>
        <form method="post" action="{% url 'admin_add_medicine' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add New Medicine</button>
        </form>
    </main>
</body>
</html>
