<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if action == 'approve' %}Approve Collection{% else %}Are you sure you want to delete?{% endif %}</title>
    {% load static %}
    {% comment "" %} staff and client both have the prompt feature {% endcomment %}
    {% if user.is_staff %}
        <link rel="stylesheet" href="{% static 'base/css/urlpos.css' %}"> {% comment "" %} staff / admin {% endcomment %}
    {% else %}
        <link rel="stylesheet" href="{% static 'base/css/center.css' %}"> {% comment "" %} client / user {% endcomment %}
    {% endif %}
</head>
<body>
    {% include 'base/base.html' %}
    <main>
        <h2>{% if action == 'approve' %}Approve Collection{% else %}Are you sure you want to delete?{% endif %}</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>