<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/urlpos.css' %}">
</head>
<body>
    {% include 'base/base.html' %}
    <main>
        <h2>{{ profile.user.username }}'s Profile</h2>
        <p>City: {{ profile.city }}</p>
        <p>Date of Birth: {{ profile.date_of_birth|date:"d-m-Y"  }}</p>
        <p>Bio: {{ profile.bio_text }}</p>
        
        <h3>Collections</h3>
        <ul>
            {% for collection in collections %}
                <li>{{ collection.medicine.name }} - {{ collection.date|date:"d-m-Y" }} - Collected: {{ collection.collected }} - Approved: {{ collection.collected_approved }}</li>
            {% endfor %}
            {% if collections.count == 0 %}
                <p>this user has not received any prescription for collection</p>
            {% endif %} 
        </ul>
    </main>
</body>
</html>
